@import '../../../main-styles.scss';

.modal-box {
  min-height: 200px;
  width: 100%;
  max-width: 580px;
  // background: wheat;
  border-radius: 5px;
  padding: 35px;
}

::placeholder {
  color: grey;
}

.mg-top {
  margin-top: 20px;;
}