<div class="centered-content">
  <div class="modal-box has-background-light">
    <h1 class="title">
      Create a new list
    </h1>

    <input class="input is-medium has-background-grey-lighter has-text-dark" type="text" placeholder="Add a new list" #listTitle>

    <div class="buttons is-right">
      <a routerLink='/' class="button is-medium is-warning has-text-black mg-top is-left">Cancel</a>
      <a class="button is-medium is-primary has-text-white mg-top is-right" (click)="createList(listTitle.value)"> Add List </a> 
    </div>

  </div>
</div>